.footerContainer {
    width: 100%;
    height: 6rem;
    background-color: #032122;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.contentContainer {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.text {
    color: #B9B16B;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    padding: 0;
    margin: 0;

    transition: filter 0.3s;
}

.text:hover {
    filter: brightness(0.8);
}